.activity-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-y: auto;
}

.selection-tab {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.selection-btn {
  width: 50%;
  border: none;
}

.selected-tab {
  border: 1px solid black;
}
