.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 2em 0.5em 2em;
}

.btn {
  color: #202124;
  border-radius: 5px;
  border: none;
  background: transparent;
  box-shadow: none;
  font-weight: 500;
  height: 2em;
}

.btn:hover {
  background: #d3d3d3;
  opacity: 0.8;
}

.btn-disabled {
}
