.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5em 2em 0.5em 2em;
}

.btn {
  color: #202124;
  border-radius: 5px;
  border: 1px solid grey;
  background: transparent;
  box-shadow: none;
  font-weight: 500;
  height: 2em;
}

.coin-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.amount-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background: #d3d3d3;
  opacity: 0.8;
  cursor: pointer;
}

.btn-disabled {
}
